app/videos
public/assets
node_modules
# public/js/alpine.min.js
# public/js/sortable.min.js
public/fontawesome
package-lock.json
package.json
postcss.config.js
input.css
vendor/
indices.sql
app/certificados/*
public/videos/*